@use "../../sass/abstracts" as a;

.switch__container {
    @include a.flexbox(center, center, column);
    .switch--logo {
        margin-top: 1rem;
        @include a.flexbox;

        @include a.responsive(smallScreen) {
            width: 50%;
        }

        @media screen and (min-width: 1024px) {
            display: none;
        }
        .logo--small {
            @include a.responsive(mobile) {
                height: 5rem;
                width: auto;
            }
        }
    }

    .form__switch {
        position: relative;
        border: 1px solid a.$color-blue;
        border-radius: a.$border-radius-medium;
        margin-top: 1rem;

        @include a.responsive(mobile) {
            max-width: 100%;
        }

        button {
            background-color: transparent;
            color: white;
            padding: 1rem 2rem;
            margin: 1rem 1rem;
            font-size: 1.2rem;
            font-weight: bold;
            cursor: pointer;

            @include a.responsive(mobile) {
                font-size: 1.5rem;
                padding: 0.5rem 1rem;
                margin: 0.5rem 0.5rem;
            }
        }
    }
}

.cursor {
    position: absolute;
    background-color: a.$color-blue;
    border-radius: a.$border-radius-medium;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
}
