@use "./colors" as col;
@use "./mixins" as mix;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
    min-height: 100vh;
    min-width: 100vw;
    @include mix.flexboxCenter;
    color: col.$color-white;
}
