// BASE COLORS

$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 0%, 100%);
$color-red: hsl(0, 100%, 50%);
$color-green: hsl(118, 100%, 33%);
$color-blue: hsl(226, 66%, 60%);

$color-grey-light: hsl(0, 0%, 70%);
$color-grey-medium: hsl(0, 0%, 40%);
$color-grey-dark: hsl(0, 0%, 25%);

// INPUTS COLOR

$input: rgba($color-grey-light, 0.15);
