// FLEXBOX

@mixin flexbox($align: center, $justify: center, $direction: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin flexboxCenter($direction: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

// SUPPORT FOR ALL BROWSERS

@mixin browserFix($property, $value) {
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    -webkit-#{$property}: $value;
}

// USER IMG

@mixin userPicture($size) {
    height: $size;
    width: $size;
    border-radius: 50%;
    object-fit: cover;
}
