// FLEXBOX

@mixin flexbox($align: center, $justify: center, $direction: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin flexboxCenter($direction: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin absoluteCenter {
    transform: translateX(-50%);
    left: 50%;
}

// SUPPORT FOR ALL BROWSERS

@mixin browserFix($property, $value) {
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    -webkit-#{$property}: $value;
}

// USER IMG

@mixin userPicture($size) {
    height: $size;
    width: $size;
    border-radius: 50%;
    object-fit: cover;
}

// MEDIA MANAGER

@mixin responsive($breakpoint) {
    @if $breakpoint == mobile {
        @media screen and (max-width: 480px) {
            @content;
        }
    }
    @if $breakpoint == tablets {
        @media screen and (max-width: 768px) {
            @content;
        }
    }
    @if $breakpoint == smallScreen {
        @media screen and (max-width: 1024px) {
            @content;
        }
    }
    @if $breakpoint == largeScreen {
        @media screen and (max-width: 1250px) {
            @content;
        }
    }
    @if $breakpoint == XLScreen {
        @media screen and (width > 1200px) {
            @content;
        }
    }
}
