@use "../../../sass/abstracts/" as a;

.user__edit {
    width: 100%;

    form {
        @include a.flexbox(flex-start, center, column);
        gap: 1rem;
        margin-left: a.$margin-medium;

        .upload__btn {
            cursor: pointer;
            display: block;
            font-size: 1rem;
            width: 90%;

            &:disabled {
                color: black;
            }

            label {
                cursor: pointer;
            }
        }

        input[type="file"] {
            max-width: 90%;
            margin-bottom: 1rem;
        }

        input[type="file"]::file-selector-button {
            display: none;
        }

        input {
            width: 90%;
        }
    }

    &--error,
    &--success {
        color: a.$color-white;
        margin: a.$margin-medium 0.5rem 0 0.5rem;
        text-align: center;
        padding: 1rem 0;
        border-radius: a.$border-radius-small;
    }

    &--error {
        outline: 1px solid a.$color-red;
    }

    &--success {
        outline: 1px solid a.$color-green;
    }
}

.upload__indicator {
    margin-top: 2rem;
}
