@use "../../../sass/abstracts/" as a;

.user__edit {
    width: 100%;

    h1 {
        text-align: center;
        margin-bottom: a.$margin-large;
    }

    form {
        @include a.flexbox(flex-start, center, column);
        gap: 1rem;
        margin-left: a.$margin-medium;

        @include a.responsive(smallScreen) {
            margin-left: unset;
            align-items: center;
            justify-content: center;
        }

        .upload__btn,
        input {
            &:focus {
                outline: 1px solid a.$color-blue;
            }

            @include a.responsive(smallScreen) {
                max-width: 70%;
            }

            @include a.responsive(mobile) {
                max-width: 85%;
            }
        }

        .upload__btn {
            cursor: pointer;
            display: block;
            font-size: 1rem;
            width: 90%;

            &:disabled {
                color: black;
            }

            &--label {
                cursor: pointer;
                display: block;
                width: 100%;
                padding: 0.5rem 1rem;
            }
        }

        .submit__btn {
            padding: 0.5rem 1rem;
        }

        input[type="file"] {
            max-width: 90%;
            margin-bottom: 1rem;
        }

        input[type="file"]::file-selector-button {
            display: none;
        }

        input[type="text"] {
            width: 90%;
            background-color: rgba(a.$color-black, 0.4);
            color: a.$color-white;
            font-size: 1rem;
            padding: 0.5rem 0.5rem;
            border-radius: a.$border-radius-small;
        }
    }

    &--error,
    &--success {
        color: a.$color-white;
        margin: a.$margin-medium 0.5rem 0 0.5rem;
        text-align: center;
        padding: 1rem 0;
        border-radius: a.$border-radius-small;
    }

    &--error {
        outline: 1px solid a.$color-red;
    }

    &--success {
        outline: 1px solid a.$color-green;
    }

    p {
        @include a.responsive(smallScreen) {
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        @include a.responsive(mobile) {
            max-width: 85%;
        }
    }
}

.upload__indicator {
    margin-top: 2rem;

    @include a.responsive(smallScreen) {
        .loading {
            @include a.flexbox(center, center, column);
        }
    }
}
