@use "../../sass/abstracts" as a;

.chat {
    grid-column: 2/3;
    border-top: a.$border-grey-light-small;
    border-bottom: a.$border-grey-light-small;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &__user {
        border-bottom: a.$border-grey-light-small;
        display: flex;
        padding: 1rem 1rem;

        img {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            object-fit: cover;
        }

        div {
            @include a.flexbox(flex-start, center, column);
            margin-left: 2rem;

            p {
                color: a.$color-grey-medium;
                padding-top: 0.3rem;
            }
        }
    }

    &__messages {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 2;
        overflow-y: scroll;
        padding-bottom: 1rem;

        .message {
            display: flex;
            max-width: 75%;
            margin-left: 0.5rem;
            margin-top: 1rem;

            .content {
                // display: flex;
                // flex-direction: column;
                // max-width: 100%;

                p {
                    padding: 1rem 1rem;
                    border-radius: a.$border-radius-medium;
                    background-color: a.$input;
                    font-size: 0.9rem;
                    width: fit-content;
                    align-self: flex-end;
                }

                span {
                    margin-left: 5%;
                    font-size: 0.7rem;
                    color: a.$color-grey-medium;
                }

                .sended__img {
                    align-self: flex-end;
                    max-width: 60%;
                    border-radius: 10px;
                    margin-bottom: 1rem;
                }
            }

            &.own {
                align-self: flex-end;
                margin-right: 0.5rem;

                .content {
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;

                    p {
                        background-color: a.$color-blue !important;
                        width: fit-content;
                        align-self: flex-end;
                    }

                    .sended__img {
                        align-self: flex-end;
                    }
                }
            }
        }
    }

    &__input {
        position: relative;
        display: flex;
        gap: 1rem;
        padding: 1rem 1rem;
        border-top: a.$border-grey-light-small;

        input {
            flex: 1;
            padding: 1rem 0.5rem;
            background: a.$input;
            border-radius: a.$border-radius-small;
            border: none;
            outline: none;
            color: a.$color-white;
            font-size: 1rem;
        }

        .icons {
            @include a.flexboxCenter;
            gap: 1rem;

            &__emoji,
            &__image {
                &:active {
                    transform: translateY(2px);
                }
            }

            input {
                display: none;
            }
        }

        .send.btn {
            padding: 1rem 2rem;
            border: none;
            border-radius: a.$border-radius-medium;
            font-size: 1rem;
            font-weight: 700;
            background-color: a.$color-blue;
        }

        .emoji {
            position: absolute;
            bottom: 6rem;
            right: 10%;

            input {
                padding-left: 2rem;
                max-width: 90%;
            }
        }
    }
}
