@use "../../sass/abstracts" as a;

.chat {
    grid-column: 2/3;
    border-top: a.$border-grey-light-small;
    border-bottom: a.$border-grey-light-small;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &__user {
        border-bottom: a.$border-grey-light-small;
        display: flex;
        padding: 1rem 1rem;

        img {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            object-fit: cover;
        }

        div {
            @include a.flexbox(flex-start, center, column);
            margin-left: 2rem;

            p {
                color: a.$color-grey-medium;
                padding-top: 0.3rem;
            }
        }
    }

    &__messages {
        display: flex;
        flex-direction: column;
        flex: 2;
        overflow-y: scroll;

        .message {
            display: flex;
            max-width: 75%;
            margin-left: 0.5rem;
            margin-top: 1rem;

            .content {
                p {
                    padding: 1rem 1rem;
                    border-radius: a.$border-radius-medium;
                    background-color: a.$input;
                    font-size: 0.9rem;
                }

                span {
                    margin-left: 5%;
                    font-size: 0.7rem;
                    color: a.$color-grey-medium;
                }
            }

            &.own {
                align-self: flex-end;
                margin-right: 0.5rem;

                .content {
                    p {
                        background-color: a.$color-blue !important;
                    }
                }
            }

            img {
                margin: 0 0.5rem;
                height: 2rem;
                width: 2rem;
                border-radius: 50%;
                object-fit: cover;
                flex-shrink: 0;
            }
        }
    }

    &__input {
        display: flex;
        gap: 1rem;
        padding: 1rem 1rem;
        border-top: a.$border-grey-light-small;

        input {
            flex: 1;
            padding: 1rem 0.5rem;
            background: a.$input;
            border-radius: a.$border-radius-small;
            border: none;
            outline: none;
            color: a.$color-white;
            font-size: 1rem;
        }

        .icons {
            @include a.flexboxCenter;
            gap: 1rem;
        }

        button {
            padding: 1rem 2rem;
            border: none;
            border-radius: a.$border-radius-medium;
            font-size: 1rem;
            font-weight: 700;
            background-color: a.$color-blue;
        }
    }
}
