@use "../../sass/abstracts" as a;

.logo {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: a.$border-grey-light-small;
    border-top: a.$border-grey-light-small;
    border-bottom: a.$border-grey-light-small;

    @include a.responsive(smallScreen) {
        display: none;
    }

    div {
        position: absolute;
        top: 2rem;
    }

    svg {
        @include a.responsive(largeScreen) {
            width: 60%;
        }

        width: 40%;
        height: auto;
    }
}
