@use "../../sass/abstracts" as a;

.error,
.success {
    position: absolute;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    bottom: 1rem;
    border-radius: a.$border-radius-small;
    opacity: 0;
    transition: all 0.5s;

    &.hidden {
        opacity: 0;
    }

    &.active {
        opacity: 1;
    }

    p {
        padding-top: 1rem;
    }
}

.error {
    background-color: rgba(a.$color-black, 0.3);
    border: a.$border-red-small;
}

.success {
    background-color: rgba(a.$color-black, 0.3);
    border: a.$border-green-small;
}
