@use "../../../sass/abstracts" as a;

.user {
    @include a.flexbox(center, space-between);
    width: 100%;
    padding: a.$margin-medium;

    img {
        @include a.userPicture(4rem);
    }

    span {
        @include a.flexbox;
        font-size: 1.2rem;
        cursor: pointer;

        &:active {
            transform: translateY(2px);
        }
    }
}
