@use "../../../sass/abstracts" as a;

.user {
    @include a.flexbox(center, center);
    width: 100%;
    padding: a.$margin-medium;

    img {
        @include a.userPicture(4rem);
        flex-shrink: 0;
    }

    span {
        @include a.flexbox;
        font-size: 1.2rem;
        cursor: pointer;
        flex: 1;
        display: flex;
        justify-self: flex-end;

        &:active {
            transform: translateY(2px);
        }
    }
}
