@use "../../../sass/abstracts/" as a;

.search {
    width: 100%;
    @include a.flexbox(center, center);
    padding: 0 a.$margin-small a.$margin-medium a.$margin-small;

    &__input {
        background: a.$input;
        border: none;
        outline: none;
        border-radius: a.$border-radius-small;
        padding: 0.4rem;
        color: inherit;
        width: 80%;
        margin-right: 1rem;
    }

    &__btn {
        @include a.flexboxCenter();
        background-color: transparent;
        border: a.$border-grey-medium-small;
        border-radius: a.$border-radius-small;
        color: a.$color-white;
        text-align: center;
        padding: 0.2rem;
        cursor: pointer;
    }
}
