@use "../abstracts" as a;

.form__container {
    position: relative;

    &--register,
    &--login {
        @include a.flexboxCenter(column);
        text-align: center;
        flex-grow: 1;

        .register,
        .login {
            width: 25rem;
        }

        .register__inputs,
        .login__inputs {
            display: flex;
            flex-direction: column;

            input {
                margin-top: a.$margin-medium;
                padding: 1rem 0.5rem;
                border-radius: a.$border-radius-small;
                border: none;
                background-color: rgba(a.$color-black, 0.4);
                color: a.$color-white;
                font-size: 1rem;

                &:last-of-type {
                    margin-bottom: a.$margin-medium;
                }

                &:focus {
                    outline: 1px solid a.$color-blue;
                }
            }
        }

        button {
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            width: 100%;
            padding: 0.9rem 0;
            cursor: pointer;
            border: none;
            border-radius: a.$border-radius-small;

            &.google__btn {
                @include a.flexboxCenter;
                margin-top: a.$margin-medium;

                span {
                    line-height: 0;
                    margin-left: 1rem;
                }
            }
        }
    }
}
