@use "../abstracts" as a;

.main_container {
    height: 90vh;
    width: 90vw;
    background-color: rgba(a.$color-black, 0.35);
    backdrop-filter: blur(7px);
}

.chat__container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    border-radius: a.$border-radius-small;
}

.chat__container {
    grid-template-columns: 1fr 3fr 1fr;
}

.login__container {
    @include a.flexboxCenter(column);
    height: 100%;
    width: 100%;

    .form__switch {
        border: 1px solid a.$color-blue;
        border-radius: a.$border-radius-medium;
        margin-top: 4rem;

        button {
            background-color: transparent;
            color: white;
            padding: 1rem 2rem;
            margin: 1rem 1rem;
            font-size: 1.2rem;
            font-weight: bold;

            &:hover {
                background-color: a.$color-grey-medium;
            }
        }
    }
}
