@use "../abstracts" as a;

.main_container {
    height: 90vh;
    width: 90vw;
    background-color: rgba(a.$color-black, 0.35);
    backdrop-filter: blur(7px);
    overflow: hidden;

    @include a.responsive(XLScreen) {
        max-width: 1800px;
    }

    @include a.responsive(tablets) {
        height: 100lvh;
    }

    @include a.responsive(mobile) {
        width: 100vw;
    }
}

.chat__container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    border-radius: a.$border-radius-small;

    .logo {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include a.responsive(smallScreen) {
            display: none;
        }

        div {
            position: absolute;
            top: 2rem;
        }

        svg {
            @include a.responsive(largeScreen) {
                width: 60%;
            }

            width: 40%;
            height: auto;
        }
    }
}

.chat__container {
    grid-template-columns: 1fr 4fr;

    @include a.responsive(largeScreen) {
        grid-template-columns: 1.2fr 3fr;
    }
}

.login__container {
    @include a.flexboxCenter(column);
    height: 100%;
    width: 100%;

    .logo {
        position: absolute;
        left: 4%;
        height: auto;
        width: 25vw;
        z-index: -1;

        @include a.responsive(largeScreen) {
            width: 20vw;
            top: 5%;
        }

        @include a.responsive(smallScreen) {
            display: none;
        }

        h1 {
            font-family: "Dela Gothic One", sans-serif;
            text-align: center;
            color: a.$color-blue;
            text-transform: uppercase;
        }
    }

    .logo--small {
        position: absolute;
        width: 15vw;
        top: 2rem;
        left: 2rem;

        @media screen and (min-width: 1024px) {
            display: none;
        }

        @include a.responsive(tablets) {
            width: 7rem;
            left: 0;
            top: 0;
        }

        @include a.responsive(mobile) {
            width: 7rem;
            left: -1rem;
            top: -1rem;
        }
    }
}
