@use "../abstracts" as a;

.main_container {
    height: 90vh;
    width: 90vw;
    background-color: rgba(a.$color-black, 0.35);
    backdrop-filter: blur(7px);

    @include a.responsive(XLScreen) {
        max-width: 1800px;
    }
}

.chat__container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    border-radius: a.$border-radius-small;
}

.chat__container {
    grid-template-columns: 1fr 4fr;

    @include a.responsive(largeScreen) {
        grid-template-columns: 1.2fr 3fr;
    }
}

.login__container {
    @include a.flexboxCenter(column);
    height: 100%;
    width: 100%;
}
